* { box-sizing: border-box }

body {
    margin: 0;
    font: 400 1em/1.5 'Cabin Condensed' , 'PT Serif' , sans-serif;
    background-color: rgb(0, 0, 255);
    background: linear-gradient(to bottom,rgb(65, 65, 255),rgb(179, 179, 255));
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}

.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0;
    
}
blockquote {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
}

.headcolor , .footcolor {
    color: #fff;
}
.bgcolor {
    background: linear-gradient(to bottom right, rgb(250, 216, 103) , rgb(233, 139, 139), rgb(255, 171, 230));
    padding: 1em;
}
.bgcolor2 {
    background: linear-gradient(to bottom, rgb(240, 202, 152) , rgb(255, 255, 255));
    padding: 1em;
}
.topnav a, .footnav a {
    color: beige;
    text-decoration: none;
}
.topnav a:hover, .footnav a:hover {
    text-decoration: underline;
}
.topnav {
    margin-top: 3em;
}
.topnav a {
    padding-left: 3em;
}
.footnav li {
    list-style-type: none;
    line-height: 1.7;
}
.footnav {
    margin: auto;
    padding: 0;
}
.title {
    padding: 1em 0 0 0;
}
.verkefni {
    text-align: right;
}
.marginb {
    margin-bottom: -2.5px;
}
.margint {
    margin-top: 4em;
}
.innermenu {
    display: flex;
    justify-content: center;
}
.innermenu a {
    color: beige;
    background-color: rgb(0, 0, 255);
    padding: .5em 1em;
    margin-top: 1em;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.innermenu a:last-child {
    border: 0;
}
.innermenu a:hover, .innermenu a:active {
    background-color: beige;
    color: rgb(0, 0, 255);
}
.topbutt {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;

    padding-bottom: .2em;
    border: 2px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    font-size: 1.5em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    background-color: beige;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 3em;
}
.copy {
    text-align: center;
}
