@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #bab2b5;
    margin: 0 auto;
    max-width: 60em;
    font-family: 'Indie Flower', cursive;
}

.haus {
    grid-area: haus;
    text-align: center;
}
.container {
    grid-area: main;
}
.topnav {
    grid-area: topnav;
}
.foot {
    grid-area: foot;
}

.as1 {
    grid-area: as1;
    border-bottom: 1px solid blue;
    padding-bottom: 1em;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
    border-bottom: 1px solid blue;
}

.body {
    display: grid;
    grid-template-areas:
        "topnav"
        "haus"
        "main"
        "foot"
}

.main {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "art1"
        "as1"
        "as2";      
}

.topmenu , .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: 1em;
    background-color: #85dcb8;
}
.topmenu li , .footmenu {
    list-style-type: none;
}
