.header{
    background: rgb(136, 50, 250);
    font-family: 'Abril Fatface', cursive;
    grid-area: haus;
    text-align: center;
    
    padding: 3em;
}
.navbar{
    background: rgb(19, 51, 231);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: valmynd;
    padding: 1em;
}
.left{
    background: rgb(44, 1, 201);
    grid-area: vinstri;
    padding: 2em;
}
.main{
    background: rgb(0, 60, 255);
    grid-area: midja;
    padding: 2em;

}
.right{
    background: rgb(0, 102, 255);
    grid-area: haegri;
    padding: 2em;

}
.footer{
    background: rgb(25, 0, 255);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: fotur;
    padding: 1em;
    
}
body{
    display: grid;
    grid-template-areas:
    "haus"
    "vinstri" 
    "midja"
    "haegri"
    "fotur"
    "valmynd";     
}

img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 30em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus"
        "valmynd valmynd valmynd"
        "haegri midja midja"
        "vinstri midja midja"
        "fotur fotur fotur"; 
    }
}

@media screen and (min-width: 48em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus haus"
        "valmynd valmynd valmynd valmynd"
        "midja midja midja midja"
        "vinstri vinstri haegri haegri"
        "fotur fotur fotur fotur"; 
    }

    img{
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width: 60em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus haus"
        "valmynd valmynd valmynd valmynd"
        "vinstri midja midja haegri "
        "fotur fotur fotur fotur"; 
    }

    img{
        width: 100%;
        height: auto;
    }
}