.rauður{
    color: red;
}

.haus{
    color: blue;
    font-family: Arial;
    text-align: center;
    font-style: italic;
}
h2{
    color: violet;
    font-family: Arial;
    text-align: left;

}

h3{
    color: maroon;
    font-family: Arial;
    text-align: left;

}

h4{
    color: lawngreen;
    font-family: Arial;
    text-align: left;

} 

h5{
    color:steelblue;
    font-family: Arial;
    text-align: left;

}

h6{
    color: yellow;
    font-family: Arial;
    text-align: left;

}

p{
    font-family: Arial;
    text-align: left;
}
strong{
    color: red;
    font-family: Arial;
    text-align: left;
}

em{
    color: blue;
    font-family: Arial;
    text-align: left;
    font-style: italic;
}
ul{
    color: darkgreen;
    font-family: Arial;
}
a{
    color: red;
    font-family: Arial;
    text-align: left;
}
a:hover{
    color: peru;
    font-family: Arial;
    text-align: left;
}
a:visted{
    color: rgb(94, 63, 205);
    font-family: Arial;
    text-align: left;
}
a:active{
    color: greenyellow;
    font-family: Arial;
    text-align: left;
}